.hideme{
 opacity:0;
}
.visible{
 opacity:1;
}

body {
    /*background: url('../../uploads/background-1.jpg');*/
    background-color: black;
}

@font-face {
    font-family: "Courier";
    src: url('../../css/fonts/courier.ttf') format("truetype");
}

h1, h2, h3 {
    font-family: Georgia,Times,Times New Roman,serif;
}

.navbar-static-top {
    height: 100px;
}

.navbar-static-top > .container-fluid, .navbar-static-top > .container-fluid > .navbar-header {
    height: 100%;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mobile-menu-bar {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 3px 0;
    margin-right: 10px;
}

.open-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-family: courier;
    cursor: pointer; 
    color: white;
}
