/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
    .social-media {
        height: 200px;
    }
    .social-media > div > p {
        font-size: 1.75vw;
    }
    .amber-info, .david-bowie-quote {
        font-size: 2em;
    }
    .david-bowie-reference {
        font-size: 1.75em;
    }
}

/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
    .social-media {
        height: 200px;
    }
    .social-media > div > p {
        font-size: 5vw;
    }
    .amber-info, .david-bowie-quote {
        font-size: 1.8em;
    }
    .david-bowie-reference {
        font-size: 1.55em;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    .social-media {
        height: 150px;
        margin-bottom: 30px;
    }
    .social-media > div > p {
        font-size: 5vw;
    }
    .amber-info, .david-bowie-quote {
        font-size: 1.6em;
    }
    .david-bowie-reference {
        font-size: 1.35em;
    }
}

/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
    .social-media {
        height: 100px;
    }
    .social-media-icons > a {
        margin-bottom: 20px;
    }
    .social-media > div > p {
        font-size: 5vw;
    }
    .amber-info, .david-bowie-quote {
        font-size: 1.15em;
    }
    .david-bowie-reference {
        font-size: 0.9em;
    }
}


.container {
    background-color: black;
}

.breath {
    margin-top: 75px;
    /*margin-bottom: 75px;*/
}

.amber-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia;
    color: white;

}

.david-bowie-quote {
    margin-top: 50px;
    font-weight: bold;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia;
    color: white;
}

.david-bowie-reference {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Georgia;
    color: white;
}

.social-media {
    background-color: black;
}

.social-media-icons {
    display: flex;
    justify-content: center;
}

.social-media > div  {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.social-media > div > a {
    height: 100%;
}

.social-media > div > a > img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media > div > p {
    letter-spacing: 2px;
    font-family: Georgia;
    color: #fe8081;
    font-weight: bold;
    /*font-size: 2.5vw;*/
}

.dhevak-reference {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dhevak-reference > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dhevak-link-container {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: center;
    margin-bottom: 15px;
}

.dhevak-link {
    color: white;
    font-size: 2em;
    font-family: Georgia;
}

.dhevak-link:hover, .dhevak-link:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
